In [2]:
import tensorflow as tf
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

WARNING:tensorflow:From c:\Users\ng822\anaconda3\envs\first\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [10]:

df = pd.DataFrame(pd.read_csv("data.csv", encoding='latin1'))
df = df[df['StockCode'] != 'D']
dates = df['InvoiceDate'].tolist()
for i in range(len(dates)):
    parts = dates[i].split(' ')[0].split('/')
    dates[i] = int(parts[0]) * (int(parts[2]) % 2) + 1
df['InvoiceDate'] = dates
print(df[135:145])

    InvoiceNo StockCode                         Description  Quantity  \
135    536381     22176                   BLUE OWL SOFT TOY         1
136    536381     22438   BALLOON ART MAKE YOUR OWN FLOWERS         1
137    536381     21731       RED TOADSTOOL LED NIGHT LIGHT         2
138    536381     22778                  GLASS CLOCHE SMALL         3
139    536381     22719        GUMBALL MONOCHROME COAT RACK        36
140    536381     21523  DOORMAT FANCY FONT HOME SWEET HOME        10
142    536382     10002         INFLATABLE POLITICAL GLOBE         12
143    536382     21912            VINTAGE SNAKES & LADDERS         8
144    536382     21832                CHOCOLATE CALCULATOR        12
145    536382     22411   JUMBO SHOPPER VINTAGE RED PAISLEY        10

     InvoiceDate  UnitPrice  CustomerID         Country
135            1       2.95     15311.0  United Kingdom
136            1       1.95     15311.0  United Kingdom
137            1       1.65     15311.0  United Kingdom
138            1       3.95     15311.0  United Kingdom
139            1       1.06     15311.0  United Kingdom
140            1       6.75     15311.0  United Kingdom
142            1       0.85     16098.0  United Kingdom
143            1       3.75     16098.0  United Kingdom
144            1       1.65     16098.0  United Kingdom
145            1       1.95     16098.0  United Kingdom

In [9]:

udf =df.groupby('StockCode')['Quantity'].sum().reset_index().sort_values('Quantity',ascending=False)
udf.head()

     StockCode  Quantity
1147     22197     56450
2997     84077     53847
3515    85099B     47363
3536    85123A     38830
3305     84879     36221

In [10]:
df['Weight'] = df['Quantity'] * df['InvoiceDate'] / 13
wdf =df.groupby('StockCode')['Weight'].sum().reset_index().sort_values('Weight',ascending=False)
wdf.head()

     StockCode        Weight
1147     22197  37439.153846
2997     84077  28529.384615
3515    85099B  26956.153846
1982     23084  26418.615385
3305     84879  21316.769231

In [12]:
# Initialize CountVectorizer
vectorizer = CountVectorizer()
df['Description'].fillna('', inplace=True)
# Transform text data into numerical vectors
X = vectorizer.fit_transform(df['Description'])

# Assign the transformed vectors back to the DataFrame column
df['Description_Vectors'] = list(X.toarray())

df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Description_Vectors
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,1,2.55,17850.0,United Kingdom,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
1,536365,71053,WHITE METAL LANTERN,6,1,3.39,17850.0,United Kingdom,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,1,2.75,17850.0,United Kingdom,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,1,3.39,17850.0,United Kingdom,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,1,3.39,17850.0,United Kingdom,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."